<%= javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

<div id="menu_bar_1">
  <span>NoteURL:<span id="note_full_url"></span>
</div>

<div id="menu_bar_2">
  <div id="mb2_s1">
    Status: <span id="save_status">Saved</span>
  </div>
  <!-- Dropdown 1 -->
  <div id="mb2_s2">
    DeleteTime: <%= select "dd1", "death_time_choice", options_for_select({ "30 min" => "30", "1 hr" => "60",
    "1 day" => "1440", "1 week" => "10080", "Forever" => "-1"}, @note.time_til_death )
    %>
  </div>
  <div id="mb2_s3">
    RemainingReads: <%= select "dd2", "max_reads_choice", options_for_select({ "1" => "1", "3" => "3", "10" => "10", "Infinite" => "-1"}, "1"), {}, :onchange => ('console.log("dd2 changed")')
    %>
    <!-- <span id="reads_til_death"> 1 </span> -->
  </div>
  <div id="mb2_s4">
    <%= form_tag("destroy", method: "post") do %>
      <input type="hidden" name="unique_note_id" value="<%= @note.unique_note_id %>">
      <button id="trash_button" type="submit">
	
	<%= image_tag "trash.svg" %>
	
      </button>
    <% end %>
  </div>
</div>

<div id="height_wrapper">
  <textarea id="note_box" data-newtype="<%= is_new_note(@note) %>"><%= @note.text %></textarea>
</div>


