<%= javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

<div id="menu_bar_1">
  <span>NoteURL:<span id="note_full_url"></span>
</div>

<div id="menu_bar_2">
  <div id="mb2_s1">
    Status: <span id="save_status">Saved</span>
  </div>
  <div id="mb2_s2">
    DeleteTime: <span id="delete_time"> <%= @note.time_til_death %> min</span>
  </div>
  <div id="mb2_s3">
    RemainingReads:<span id="reads_remaining"> 1 </span>
  </div>
  <div id="mb2_s4">
    <%= form_tag("destroy", method: "post") do %>
      <input type="hidden" name="unique_note_id" value="<%= @note.unique_note_id %>">
      <button id="trash_button" type="submit">
      <%= image_tag "trash.svg" %>
    </button>
    <% end %>
  </div>
</div>

<div id="height_wrapper">
  <textarea id="note_box" data-newtype="<%= is_new_note(@note) %>"><%= @note.text %></textarea>
</div>
